<template>
	<div>
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Calendar &nbsp;&nbsp;</h1>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>

		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group row">
		                  <label for="id_number" class="col-sm-12 col-form-label">Event</label>
		                  <div class="col-sm-12">
		                    <input type="text" class="form-control" id="name" v-model="event.event" placeholder="Event Name">
		                  </div>
		                </div>
		                <div class="form-group row">
		                  <label for="id_number" class="col-sm-12 col-form-label">From</label>
		                  <div class="col-sm-12">
		                    <date-picker v-model="event.date_from" placeholder="YYYY-MM-DD" :config="options" id="date_from"></date-picker>
		                  </div>
		                </div>
		                <div class="form-group row">
		                  <label for="id_number" class="col-sm-12 col-form-label">To</label>
		                  <div class="col-sm-12">
		                    <date-picker v-model="event.date_to" placeholder="YYYY-MM-DD" :config="options" id="date_to"></date-picker>
		                  </div>
		                </div>
		                <div class="form-group row">
		                  <div class="col-sm-12">
		                    <input type="checkbox" id="monday" v-model="event.monday"> Mon &nbsp;
		                    <input type="checkbox" id="tuesday" v-model="event.tuesday"> Tue &nbsp;
		                    <input type="checkbox" id="wednesday" v-model="event.wednesday"> Wed &nbsp;
		                    <input type="checkbox" id="thursday" v-model="event.thursday"> Thu &nbsp;
		                    <input type="checkbox" id="friday" v-model="event.friday"> Fri &nbsp;
		                    <input type="checkbox" id="saturday" v-model="event.saturday"> Sat &nbsp;
		                    <input type="checkbox" id="sunday" v-model="event.sunday"> Sun &nbsp;
		                  </div>
		                </div>
		                <div class="form-group row">
		                  <div class="col-sm-12">
		                    <button type="button" class="btn btn-primary" @click="saveEvent">Save</button>
		                  </div>
		                </div>
					</div>
					<div class="col-md-8">
						<h1>{{ monthYear }}</h1>
						<table class="table">
							<tbody>
								<tr v-for="(data, index) in dataTable" :class="{ 'table-active' : data.event }">
									<td>{{ data.date }}</td>
									<td>{{ data.event }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
	export default {
        name: "event",
        data() {
            return {
                event: {
                    event: '',
                    date_from: '',
                    date_to: '',
                    monday: '',
                    tuesday: '',
                    wednesday: '',
                    thursday: '',
                    friday: '',
                    saturday: '',
                    sunday: ''
                },
                error: null,
                options: {
		          format: 'YYYY-MM-DD',
		          useCurrent: false,
		        },
		        dataTable: [],
		        monthYear: '',
            };
        },

        created() {
        	axios.get('/api/v1/event/list')
	            .then( response => {
	                this.monthYear = response.data.data.monthYear
	                this.dataTable = response.data.data.dates
	            });
        },

        methods: {
            saveEvent() {
            	axios.post('/api/v1/event/store', this.event)
	            .then( response => {
	                toastr.success(response.data.message)
	                this.monthYear = response.data.data.monthYear
	                this.dataTable = response.data.data.dates
	            });
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    };
</script>