<template>
    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        Anything you want
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2020 <a href="#">KCSM</a>.</strong> All rights reserved.
    </footer>
</template>

<script>
    export default {
        name: 'main-footer',
    }
</script>