<template>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="#" class="pl-4 nav-link" @click.prevent="logout">Logout</a>
              </li>
          </ul>
      </div>
    </nav>
    <!-- /.navbar -->
</template>

<script>
    export default {
        name: 'nav-header',

        methods: {
            logout() {
              this.$store.commit('logout');
              this.$router.push('/login');
            }            
        },
    };
</script>