<template>
  <div>
    <!-- Main Header Navigation -->
    <HeaderNav></HeaderNav>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <router-view></router-view>
    </div>

    <!-- /.content-wrapper -->
    <Footer></Footer>
  </div>
</template>

<script>
  import HeaderNav from './TheHeaderNav.vue';
  import Footer from './TheFooter.vue';
  export default {
    name: 'admin-app',
    data() {
      return {
        //
      }
    },
    components: {
        HeaderNav,
        Footer
    }
  };
</script>